*,
*:after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: $fontSize;
    font-weight: $fontWeightDefault;
    line-height: $lineHeight;
    font-family: $fontFamily;

    display: grid;
    place-items: start center;

    color: $colorLightThree;
    background-color: $colorLightFive;

}
