*,
*:after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: $fontSize;
    font-weight: $fontWeightDefault;
    line-height: $lineHeight;
    font-family: $fontFamily;

    display: grid;
    place-items: center;

    color: $colorLightThree;
    background-color: $colorLightFive;
}


h1 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

h4 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.container {
    width: 375px;
    padding: 31px 24px 79px 24px;

    @include media(tablet) {
        width: 768px;
        padding: 140px 98px 236px 97px;
    }

    @include media(desktop) {
        width: 1440px;
        padding: 144px 355px 145px 355px;
    }
    
}

.disabled {
    display: none;
}



