.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme {
        display: block;
        border: none;
        color: $colorLightThree;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & > p {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            margin-right: 16px;
        }
        
        & > img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            color: $colorLightFour;
        }
    }

    .disabled {
        display: none;
    }

}
