header {
    margin-bottom: 16px;

    @include media(tablet) {
        margin-bottom: 24px;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 36px;

    .theme {
        display: block;
        border: none;
        cursor: pointer;
        background-color: inherit;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        transition: all 0.3s;
        
        & > p {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            margin-right: 16px;
        }
        
        & > svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
        }
        
        &--light {
            color: $colorLightThree;
            
            &:hover {
                color: $colorLightFour;
            }
            
            & > svg {
                fill: currentColor;
            }
        }
        
        &--dark {
            color: $colorDarkTwo;
            
            &:hover {
                color: $colorLightThree;
                
                svg {
                    fill: currentColor;
                }
            }
        }
    }

    .disabled {
        display: none;
    }
}


.form {
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba($colorBoxShadow, 0.2);
    background-color: $colorLightSix;
    padding: 7px 7px 7px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(tablet) {
        padding: 9.5px 10px 9.5px 32px;
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 9px;

        @include media(tablet) {
            width: 24px;
            height: 24px;
            margin-right: 24px;
        }
    }

    .form-control {
        position: relative;

        @include media(tablet) {
            //margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        input {
            width: 185px;
            color: $colorLightFour;
            letter-spacing: 1px;
            border: none;
            padding: 3px 0;
            vertical-align: top;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 13px;
                color: $colorLightThree;
                letter-spacing: 1px;
                
            }

            @include media(tablet) {
                width: 254px;
                &::placeholder {
                    font-size: 18px;
                }
            }
        }

        p {
            position: absolute;
            top: 0;
            right: 0;

            font-size: 13px;
            color: $colorRed;
            font-weight: $fontWeightBold;
            line-height: 22px;
            background-color: $colorLightSix;
            padding-left: 5px;

            z-index: 50;

            @include media(tablet) {
               position: relative;
               font-size: 15px;
            }
        }
        
        &:focus-within + button {
            background-color: $colorButtonHover;
        }
    }


    button {
        font-size: 14px;
        color: $colorDarkTwo;
        font-weight: $fontWeightBold;
        line-height: 21px;
        background-color: $colorLightOne;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 12.5px 18px;
        transition: all 0.3s;

        &:hover {
            background-color: $colorButtonHover;
        }

        @include media(tablet) {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.7px;
            padding: 12.5px 23px 13.5px 24px;
        }
    }
}
