.main {
    padding: 32px 24px;
    background-color: $colorLightSix;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba($colorBoxShadow, 0.2);

    & > img {
        width: 117px;
        height: 117px;
        border-radius: 50%;
        margin-right: 37px;
        display: none;
    }
    .wrapper {
        width: 100%;
    }

    @include media(tablet) {
        padding: 40px;
    }

    @include media(desktop) {
        padding: 48px;
        display: flex;
        align-items: flex-start;

        & > img {
            display: inline-block;
        }
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 33px;

        @include media(tablet) {
            margin-bottom: 24px;
        }

        @include media(desktop) {
            margin-bottom: 20px;
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 19px;

            @include media(tablet) {
                width: 117px;
                height: 117px;
                margin-right: 41px;
            }

            @include media(desktop) {
                display: none;
            }
        }

        .user-details {
            h3 {
                color: $colorLightFour;
                font-weight: $fontWeightBold;
            }

            p {
                font-size: 13px;
                line-height: 19px;
                color: $colorLightTwo;

                &:first-of-type {
                    color: $colorLightOne;
                }
            }

            @include media(tablet) {
                h3 {
                    font-size: 26px;
                    line-height: 38.51px;
                }

                p {
                    font-size: 15px;
                    line-height: 22.22px;

                    &:first-of-type {
                        font-size: 16px;
                        line-height: 23.7px;
                    }
                }
            }

            @include media(desktop) {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: 1fr auto;

                p {
                    &:last-of-type {
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                        align-self: center;
                    }
                }
            }
        }
    }

    .user-biography {
        font-size: 13px;
        margin-bottom: 23px;

        @include media(tablet) {
            font-size: 15px;
            margin-bottom: 32px;
        }
    }

    .user-stats {
        text-align: center;
        background-color: $colorLightFive;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 18px 15px;
        margin-bottom: 24px;

        p {
            font-size: 11px;
            line-height: 16px;
            margin-bottom: 8px;
        }

        h3 {
            color: $colorLightFour;
            font-weight: $fontWeightBold;
        }

        @include media(tablet) {
            justify-content: space-between;
            padding: 15px 96px 17px 32px;
            margin-bottom: 30px;

            p {
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 5px;
            }

            h3 {
                text-align: left;
                font-size: 22px;
                line-height: 32.58px;
            }
        }

        @include media(desktop) {
            margin-bottom: 36px;
        }
    }

    .user-links {
        & > div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 16px;
        }

        svg {
            width: 20px;
            margin-right: 13px;
            fill: currentColor;
        }

        a {
            text-decoration: none;
            color: inherit;
            pointer-events: inherit;

            &:visited {
                color: inherit;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        @include media(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 18px;

            & > div {
                margin-bottom: 0;

                &:nth-of-type(2) {
                    grid-column: 0 / 1;
                    grid-row: 2 / 3;
                }
            }

            h4 {
                font-size: 15px;
                line-height: 22.22px;
            }
        }

        @include media(desktop) {
            grid-column-gap: 40px;
        }
    }

    // .not-available {
    //     color: rgba($colorLightThree, 0.5);
    // }
}
