// DARK MODE COLORS
body.dark {
    color: $colorDarkTwo;
    background-color: $colorDarkThree;

    .logo {
        color: inherit;

        h1 {
            color: inherit;
        }
    }

    .form {
        background-color: $colorDarkFour;
        box-shadow: none;

        input {
            background-color: inherit;
            color: inherit;

            &::placeholder {
                color: $colorDarkTwo;
            }
        }
    }

    .main {
        background-color: $colorDarkFour;
        box-shadow: none;

        .user .user-details {
            color: $colorDarkTwo;
            h3 {
                color: inherit;
            }

            p {
                &:last-of-type {
                    color: inherit;
                }
            }
        }

        .user-stats {
            background-color: $colorDarkThree;
            h3 {
                color: inherit;
            }
        }
    }
}
// podesavanje dark moda preko postavke samog sistema
// https://medium.com/samsung-internet-dev/responsive-design-the-dark-mode-10f8f9ca2c2

@media (prefers-color-scheme: dark) {
    body.systemDarkPreference {
        color: $colorDarkTwo;
        background-color: $colorDarkThree;

        .logo {
            color: inherit;

            h1 {
                color: inherit;
            }
        }

        .form {
            background-color: $colorDarkFour;
            box-shadow: none;

            input {
                background-color: inherit;
                color: inherit;

                &::placeholder {
                    color: $colorDarkTwo;
                }
            }
        }

        .main {
            background-color: $colorDarkFour;
            box-shadow: none;

            .user .user-details {
                color: $colorDarkTwo;
                h3 {
                    color: inherit;
                }

                p {
                    &:last-of-type {
                        color: inherit;
                    }
                }
            }

            .user-stats {
                background-color: $colorDarkThree;
                h3 {
                    color: inherit;
                }
            }
        }
    }
}

h1 {
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

h4 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.container {
    width: 375px;
    padding: 31px 24px 79px 24px;

    @include media(tablet) {
        width: 768px;
        padding: 140px 98px 236px 97px;
    }

    @include media(desktop) {
        width: 1440px;
        padding: 144px 355px 145px 355px;
    }
}

.disabled {
    display: none;
}
