@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

// light mode colors
$colorLightOne: #0079FF;
$colorButtonHover: #60ABFF;
$colorLightTwo: #697C9A;
$colorLightThree: #4B6A9B;
$colorLightFour: #2b3442;
$colorLightFive: #F6F8FF;
$colorLightSix: #FEFEFE;

$colorRed:#F74646;
$colorBoxShadow: #4660bb;
$colorLogoDark: #222731;



// dark mode colors
$colorDarkOne: #0079FF;
$colorDarkTwo: #FFFFFF;
$colorDarkThree: #141d2f;
$colorDarkFour: #1E2A47;

$fontFamily: 'Space Mono', monospace;
$fontWeightDefault: 400;
$fontWeightBold: 700;
$fontSize: 15px;
$lineHeight: 25px;
